<app-navbar></app-navbar>
<section>

    <div class="text-banner">
        <div class='contmin-text col-lg-10'>
            <h1>
                <small>You Can Create</small
      ><span class="font-weight-bold">your own website</span>
    </h1>
    <p>
      The concept behind the creation of most multipurpose themes is to produce
      a single website template that would suit any type of company
    </p>
    <div class="btn-group-variant">
        <a class="btn btn-success btn-sm" href="#">BUY a theme</a>
        <a class="btn btn-white btn-sm" href="#">view featured</a>
    </div>
</div>
</div>
<ngbd-carousel-pause></ngbd-carousel-pause>
</section>
<section>
    <div class="container">
        <h2><span style="vertical-align: inherit;">nuestras ventajas</span></h2>
        <hr>
        <p class="h5 font-weight-light">
            <span style="vertical-align: inherit;">Creamos interfaces de usuario y sitios web modernos. </span>
            <span style="vertical-align: inherit;">Le ayudaremos a desarrollar un </span>
        <br class="d-none d-lg-inline">
        <span style="vertical-align: inherit;">negocio en </span>
        <span style="vertical-align: inherit;">línea sólido </span>
        <span style="vertical-align: inherit;">mediante la creación de un sitio web profesional que se adapte mejor a sus necesidades.</span></p>
        <div class="row row-60 clearleft-custom offset-custom-2">
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon-efect material-icons md-48">desktop_windows</span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Listo para </span><br>
                    <span style="vertical-align: inherit;">Retina</span></span></h4>
                <p><span style="vertical-align: inherit;">Ahora puede disfrutar de textos nítidos, colores vibrantes e imágenes nítidas en sus dispositivos de pantalla Retina.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon-efect material-icons">
              miscellaneous_services
              </span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Increíblemente </span><br><span style="vertical-align: inherit;">flexible</span></h4>
                <p><span style="vertical-align: inherit;">Algunos desarrolladores tienen un flujo de trabajo definido y están acostumbrados a utilizar varias herramientas de forma independiente.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon-efect material-icons">draw</span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Diseño </span><br><span style="vertical-align: inherit;">limpio</span></h4>
                <p><span style="vertical-align: inherit;">Hacer elecciones de diseño para su sitio web puede ser una tarea abrumadora.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon-efect material-icons">support_agent</span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Soporte </span><br><span style="vertical-align: inherit;">rápido</span></h4>
                <p><span style="vertical-align: inherit;">¿Problemas con su sitio web o correo electrónico? </span>
                    <span style="vertical-align: inherit;">Consulte nuestra base de conocimientos o contáctenos. </span>
                    <span style="vertical-align: inherit;">¡Estamos aquí para ayudar!</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section>
  <div class="cont-acerca">
    <div class="container">
      <h2 class="text-center"><span style="vertical-align: inherit;">Acerca de la compañía</span></h2>
      <hr>
      <div class="row row-45">
        <div class="col-12 col-md-12 col-lg-6 text-center text-lg-left"><img src="../../../../assets/img/negocios.jpg" alt=""></div>
        <div class="col-12 col-md-12 col-lg-6 text-lg-left well1">
          <p><span style="vertical-align: inherit;">Somos un estudio que tiene como objetivo hacer que la experiencia de nuestros usuarios sea más fácil y placentera.</span></p>
          <p><span style="vertical-align: inherit;">Probablemente no tendrá una mejor oportunidad para asegurarse de nuestra competencia, así como de la amabilidad con nuestros clientes.</span></p>
          <div class="progress-linear-container">
            <!-- Linear progress bar-->
            <article class="progress-linear animated-first">
              <div class="progress-header">
                <p><span style="vertical-align: inherit;">Marketing de medios sociales</span></p>
                <span class="progress-value"><span style="vertical-align: inherit;">50</span></span>
              </div>
              <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 50%;"></div>
              </div>
            </article>
            <!-- Linear progress bar-->
            <article class="progress-linear animated-first">
              <div class="progress-header">
                <p><span style="vertical-align: inherit;">Diseño</span></p>
                <span class="progress-value"><span style="vertical-align: inherit;">90</span></span>
              </div>
              <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 90%;"></div>
              </div>
            </article>
            <!-- Linear progress bar-->
            <article class="progress-linear animated-first">
              <div class="progress-header">
                <p><span style="vertical-align: inherit;">Consultante</span></p>
                <span class="progress-value"><span style="vertical-align: inherit;">80</span></span>
              </div>
              <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 80%;"></div>
              </div>
            </article>
            <!-- Linear progress bar-->
            <article class="progress-linear animated-first">
              <div class="progress-header">
                <p><span style="vertical-align: inherit;">Redacción</span></p>
                <span class="progress-value"><span style="vertical-align: inherit;">20</span></span>
              </div>
              <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 20%;"></div>
              </div>
            </article>
          </div>
        </div>
      </div><a class="btn btn-white btn-sm btn-min-width" href="#"><span style="vertical-align: inherit;">aprende más</span></a>
    </div>
  </div>
</section>