<app-navbar></app-navbar>
<section>

    <div class="text-banner">
        <div class='contmin-text col-lg-10'>
            <h1>
                <small>You Can Create</small
      ><span class="font-weight-bold">your own website</span>
    </h1>
    <p>
      The concept behind the creation of most multipurpose themes is to produce
      a single website template that would suit any type of company
    </p>
    <div class="btn-group-variant">
        <a class="btn btn-success btn-sm" href="#">BUY a theme</a>
        <a class="btn btn-white btn-sm" href="#">view featured</a>
    </div>
</div>
</div>
<ngbd-carousel-pause></ngbd-carousel-pause>
</section>
<section>
    <div class="container">
        <h2><span style="vertical-align: inherit;">nuestras ventajas</span></h2>
        <hr>
        <p class="h5 font-weight-light">
            <span style="vertical-align: inherit;">Creamos interfaces de usuario y sitios web modernos. </span>
            <span style="vertical-align: inherit;">Le ayudaremos a desarrollar un </span>
        <br class="d-none d-lg-inline">
        <span style="vertical-align: inherit;">negocio en </span>
        <span style="vertical-align: inherit;">línea sólido </span>
        <span style="vertical-align: inherit;">mediante la creación de un sitio web profesional que se adapte mejor a sus necesidades.</span></p>
        <div class="row row-60 clearleft-custom offset-custom-2">
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="material-icons md-48">desktop_windows</span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Listo para </span>
                    <span style="vertical-align: inherit;">Retina</span></span></h4>
                <p><span style="vertical-align: inherit;">Ahora puede disfrutar de textos nítidos, colores vibrantes e imágenes nítidas en sus dispositivos de pantalla Retina.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon icon-success icon-lg icon-mod-1 fa-cogs"></span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Increíblemente </span><br><span style="vertical-align: inherit;">flexible</span></h4>
                <p><span style="vertical-align: inherit;">Algunos desarrolladores tienen un flujo de trabajo definido y están acostumbrados a utilizar varias herramientas de forma independiente.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon icon-success icon-lg icon-mod-1 fa-pencil-square-o"></span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Diseño </span><span style="vertical-align: inherit;">limpio</span></h4>
                <p><span style="vertical-align: inherit;">Hacer elecciones de diseño para su sitio web puede ser una tarea abrumadora.</span></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <div class="thumbnail thumbnail-mod-1"><span class="icon icon-success icon-lg icon-mod-1 fa-comments-o"></span>
              <div class="caption">
                <h4><span style="vertical-align: inherit;">Soporte </span><span style="vertical-align: inherit;">rápido</span></h4>
                <p><span style="vertical-align: inherit;">¿Problemas con su sitio web o correo electrónico? </span>
                    <span style="vertical-align: inherit;">Consulte nuestra base de conocimientos o contáctenos. </span>
                    <span style="vertical-align: inherit;">¡Estamos aquí para ayudar!</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>